@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 0.75em;
  background-color: #bbc6c8;
  font-family: "Roboto Condensed", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

.btn {
  padding: 0.35rem 0.75rem;
  border: none;
  border-radius: 5px;
  background-color: #5ba199;
  color: #e5e3e4;
}
